<link rel="stylesheet" type="text/css" href="assets/styles/searchpage.css">
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
<div class="container text-center">
	<h1>DocWho</h1>
	<p class="lead">find the <i>right</i> doctor</p>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form id="emailForm">
				<div class="form-group">
					<div class="input-group">
						<input type="text" ng-model="searchText" class="form-control input-lg" name="email" placeholder="Search a type of doctor"/>    
						<span class="input-group-btn">
							<button ng-click="searchButton(searchText)" type="submit" class="btn btn-success btn-lg ladda-button" data-style="expand-right" type="submit"><span class="ladda-label">Go!</span></button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6">
			<div class="panel panel-default" ng-hide="!doctors.length">
				<ul class="list-group" id="contact-list">
					<li ng-repeat="doctor in doctors" class="list-group-item">
						<div class="col-xs-12 col-sm-3">
							<img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
						</div>
						<div class="col-xs-12 col-sm-9">
							<span class="name">{{doctor.name}}</span><br/>
							<span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5842 Hillcrest Rd"></span>
							<span class="visible-xs"> <span class="text-muted">{{doctor.address}}</span><br/></span>
							<span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(870) 288-4149"></span>
							<span class="visible-xs"> <span class="text-muted">{{doctor.phonenumer}}</span><br/></span>
							<span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="scott.stevens@example.com"></span>
							<span class="visible-xs"> <span class="text-muted">{{doctor.email}}</span><br/></span>
						</div>
						<div class="clearfix"></div>
					</li>
				</div>
				<div id="map"></div>
			</div>
		</div>
	</div>