
html, body {
  margin: 0;
  padding: 0;
}

.container-view {
  position: relative;
}

.header-content {
  display: inline-block;
  padding: 21px 30px 18px;
  width: 100%;
}

.filter-bar {
  display: inline-block;
  padding: 10px 30px 0px;
  width: 100%;
}

.left-list {
  width: 75%;
}

.right-list {
  width: 25%;
}

.name {
  display: inline-block;
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-size: 27px;
  letter-spacing: 0.3px;
  margin: 6px 30px 0 0;
  float: left;
}

.results-label {
  display: inline-block;
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.3px;
  margin: 6px 30px 0 0;
  float: right;
}

.text-field-container {
  display: inline-block;
  text-align: center;
  width: calc(100% - 273px);
}

.themed-text-field {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.03);
  border: 0.5px solid rgba(0, 0, 0, 0.10);
  border-radius: 4px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0px 5px 30px;
  margin: 5px 15px 0 15px;
  letter-spacing: -0.2px;
  width: calc(50% - 30px);
  min-width: 150px;
}

.auto-suggest {
  display: inline-block;
  margin: 5px 15px 0 15px;
  width: calc(50% - 30px);
}

.react-autosuggest__container {
  width: 100%;
 }

.react-autosuggest__input {
  width: 100%;
  padding: 5px 0px 5px 30px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.2px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 0.5px solid rgba(0, 0, 0, 0.10);
  border-radius: 4px;
  min-width: 150px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 56px;
  width: calc(50% - 196px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0.5px solid rgba(0, 0, 0, 0.10);
  background-color: #fff;
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  text-align: left;
  cursor: pointer;
  padding: 7px 30px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #FAFAFA;
  font-weight: 600;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.themed-button {
  background-color: #FF4646;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Proxima Nova';
  font-weight: 600;
  cursor: pointer;
}

button.themed-button.highlighted {
  background-color: #E03D3D;
}

.themed-button-topbar {
  display: inline-block;
  padding: 10px 35px;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin: 0;
  margin-left: 15px;
  float: right;
}

.themed-button-banner {
  padding: 7px 40px;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.filter {
  display: inline-block;
  border: 2px solid #FF4646;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: #FF4646;
  text-align: center;
  text-decoration: none;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  cursor: pointer;
  padding: 5px 35px;
  margin: 0 0 10px 15px;
}

.filter-header {
  display: inline-block;
  margin: 10px 10px 10px 5px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.30);
  letter-spacing: 0.3px;
}

.themed-button.filter-button {
  display: inline-block;
  padding: 8px 30px;
}

.separator {
  height: 0.5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.banner {
  width: 100%;
  height: 300px;
  margin-top: -20px;
}

.banner-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.tagline {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.5px;
  color: white;
  margin-bottom: 20px;
}

.section-header {
  margin: 15px 20px 10px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.30);
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.speciality-tile {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 160px;
}

.speciality-tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.speciality-name-title {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.5px;
  color: white;
  position: relative;
  top: calc(50% - 28px);
  translate: translateY(-50%);
  text-align: center;
}

.pac-container {
  font-family: 'Proxima Nova';
  box-shadow: none;
  border: 1.0px solid rgba(0, 0, 0, 0.1);
}

.profile-card {
  display: block;
  height: 140px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
}

.profile-card .name {
  margin: 15px 15px 0px;
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 17px;
}

.stars {
  display: inline-block;
  margin-bottom: 7.5px;
}

.review-count-text {
  display: inline-block;
  margin-left: 7.5px;
  font-family: 'Proxima Nova';
  color: rgba(0, 0, 0, 0.4);
  font-weight: 200;
  font-size: 14px;
}

.rating-star {
  color: #FF4646;
}

.profile-card .name {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 17px;
}

.profile-card .speciality {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 15px;
}

.profile-card .no-reviews {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 7px;
}

.doctorProfile {

}

<<<<<<< HEAD
.starter-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.get-started-overlay {
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.filter-select {
  width: 15%;
  display: inline-block;
  font-family: 'Proxima Nova';
  margin-right: 12px;
  margin-bottom: 12px;
}

.Select-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.no-results {
  background:rgba(255,255,255,0.5);
}

.profile-list-title {
  font-family: 'Proxima Nova';
  font-weight: 100;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 7px;
}

.profile-list-item {
  font-family: 'Proxima Nova';
  font-weight: 100;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 7px;
}

.profile-rounded-image {
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 20px 30px 0px 0px;
}

.profile-section-border-left {
  border-style: solid;
  border-width: 1px;
  border-right: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-color: rgba(0, 0, 0, 0.1);
}

.profile-section-border-right {
  border-style: solid;
  border-width: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-color: rgba(0, 0, 0, 0.1);
}

.profile-section-border-top {
  border-style: solid;
  border-width: 1px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: rgba(0, 0, 0, 0.1);
}

.profile-section-border-top-right {
  border-style: solid;
  border-width: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: rgba(0, 0, 0, 0.1);
}

.profile-section-border-bottom {
  border-style: solid;
  border-width: 1px;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-color: rgba(0, 0, 0, 0.1);
}

.doctor-insurances {
  padding: 0px 30px 30px;
}

.profile-about-container {
  padding-bottom: 30px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row > [class*='col-'] {
	 display: flex;
   flex-direction: column;
}

.profile-about {
  margin: 0 auto;
  text-align: center;
}

.profile-about-items {
  display: inline-block;
  text-align: left;
}

.doctor-about-item {
  display: block;
  text-align: left;
  vertical-align: top;
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 14px;
}

.doctor-about-item.speciality {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.4);
}

.doctor-about-item-header {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 14px;
  text-transform: capitalize;
}

.doctor-insurance {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 14px;
}

.tag-container {
  background-color: #ebf5ff;
  border-radius: 2px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-top: 5px;
  vertical-align: top;
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 14px;
}

.tag {
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;
  padding: 2.5px 10px;
}

.tag-gap {
  display: inline-block;
  width: 5px;
}

.search-result-image {
  width: 60px;
  height: 60px;
  margin: 15px 0 0 15px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
}

.search-result-about-items {
  display: inline-block;
  margin: 15px;
}

.search-result-name {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 13px;
}

.search-result-item.speciality {
  padding: 0;
  margin-bottom: 0px;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/Proxima-Nova-Extrabold.otf");
    font-weight: 800;
    font-style: normal;
}

.section-header.reviews {
  margin-left: 25px;
}

.review-container-view {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.review-user {
  padding: 0 15px 15px 25px;
}

.review-text-container {
  padding-bottom: 15px;
}

.review-user-image {
  display: inline-block;
  border-radius: 2px;
  width: 60px;
  height: 60px;
}

.review-user-name {
  display: inline-block;
  margin-left: 15px;
  font-size: 15px;
  font-family: 'Proxima Nova';
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
}

.rating-container {
  margin-top: -18px;
}

.review-date {
  display: inline-block;
  margin-left: 7.5px;
  font-family: 'Proxima Nova';
  color: rgba(0, 0, 0, 0.4);
  font-weight: 200;
  font-size: 14px;
}

.review-text {
  width: 100%;
  padding-right: 60px;
  font-family: 'Proxima Nova';
  font-size: 14px;
  line-height: 21px;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url("./fonts/Proxima-Nova-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url("./fonts/Proxima-Nova-Semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url("./fonts/Proxima-Nova-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
