
html, body {
  margin: 0;
  padding: 0;
}

.header-content {
  display: inline-block;
  padding: 21px 30px 18px;
  width: 100%;
}

.left-list {
  width: 75%;
}

.right-list {
  width: 25%;
}

.name {
  display: inline-block;
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-size: 27px;
  letter-spacing: 0.3px;
  margin: 6px 30px 0 0;
  float: left;
}

.text-field-container {
  display: inline-block;
  text-align: center;
  width: calc(100% - 273px);
}

.themed-text-field {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.03);
  border: 0.5px solid rgba(0, 0, 0, 0.10);
  border-radius: 4px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0px 5px 30px;
  margin: 5px 15px 0 15px;
  letter-spacing: -0.2px;
  width: calc(50% - 30px);
  min-width: 150px;
}

.themed-button {
  background-color: #FF4646;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Proxima Nova';
  font-weight: 600;
  cursor: pointer;
}

.themed-button-topbar {
  display: inline-block;
  padding: 10px 35px;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin: 0;
  margin-left: 15px;
  float: right;
}

.themed-button-banner {
  padding: 7px 40px;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.separator {
  height: 0.5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.banner {
  width: 100%;
  height: 300px;
  margin-top: -20px;
}

.banner-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.tagline {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.5px;
  color: white;
  margin-bottom: 20px;
}

.section-header {
  margin: 15px 20px 10px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.30);
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.speciality-tile {
  display: inline-block;
  width: 25%;
  height: 160px;
}

.speciality-name-title {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.5px;
  color: white;
  position: relative;
  top: calc(50% - 28px);
  translate: translateY(-50%);
  text-align: center;
}

.profile-card {
  display: block;
  height: 140px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
}

.profile-card .name {
  margin: 15px 15px 0px;
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 17px;
}

.rating-star {
  margin-top: 20px;
  color: #FF4646;
}

.profile-card .name {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 17px;
}

.profile-card .speciality {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 15px;
}

.profile-card .no-reviews {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 7px;
}

.doctorProfile {
  width: 60%;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/Proxima-Nova-Extrabold.otf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url("./fonts/Proxima-Nova-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url("./fonts/Proxima-Nova-Semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url("./fonts/Proxima-Nova-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
